<div class="center-div">
  <div class="inner-div financial-info">
    FINANCIAL OVERVIEW
  </div>
  <div class="inner-div transaction-info">
    <div class="icon">
      <img src="assets/images/Profile.jpg" alt="Icon">
    </div>
    <div class="texts">
      <div class="text-left">
        <div class="name">Veljko Jovkovic</div>
        <div class="account-number">4587 30458 25084</div>
      </div>
      <div class="text-right">
        <div class="amount">12,340.000,00 RSD</div>
        <div class="available">AVAILABLE BALANCE</div>
      </div>
    </div>
  </div>
  
  <div class="inner-div horizontal-divs">
    <div class="horizontal-div fixed-hover">EXECUTED</div>
    <div class="horizontal-div">REJECTED</div>
    <div class="horizontal-div">FUTURE</div>
    <div class="horizontal-div">DRAFT</div>
    <div class="horizontal-div">PENDING</div>
  </div>
  
  <div class="inner-div select-menu">
    <span class="menu-text">CHOOSE VIEW:</span>
    <div class="icons">
      <img src="assets/images/list.png" alt="list">
      <img src="assets/images/space_dashboard.png" alt="space">
      <img src="assets/images/calendar2.png" alt="calendar">
      <img src="assets/images/timeline.png" alt="timeline">
      <img src="assets/images/language.png" alt="language">
      <img src="assets/images/target.png" alt="target">
      <img src="assets/images/leaderboard.png" alt="leaderboard">
    </div>
  </div>

  <div class="inner-div categorize">
    <button *ngIf="!isSelectingMultipleTransactions" class="categorize-textbox" (click)="toggleSelectionMode()">
      Categorize multiple transactions
    </button>
    <div *ngIf="isSelectingMultipleTransactions" class="multiple-selection-info">
      <span>Please select multiple categories</span>
      <button class="ok-button" (click)="navigateToCategorization()">OK</button>
      <button class="cancel-button" (click)="toggleSelectionMode()">Cancel</button>
    </div>
  </div>

  <!-- <div class="inner-div" *ngFor="let transaction of transactions">
    <app-transaction 
    [transaction]="transaction" 
    [isSelectingMultipleTransactions]="isSelectingMultipleTransactions" 
    (checkboxChange)="handleTransactionSelection($event)">
  </app-transaction>  </div> -->
  
  <!-- <div class="inner-div export-list">
    <div class="export-text">EXPORT LIST OF TRANSACTIONS AS:</div>
    <div class="export-icons">
      <img src="assets/images/pdf.png" alt="pdf">
      <img src="assets/images/csv.png" alt="csv">
    </div>
  </div> -->

  <div class="inner-div" *ngFor="let transaction of paginatedTransactions">
    <app-transaction 
      [transaction]="transaction" 
      [isSelectingMultipleTransactions]="isSelectingMultipleTransactions" 
      (checkboxChange)="handleTransactionSelection($event)">
    </app-transaction>
  </div>
  
  <!-- Kontrole za paginaciju -->
  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{currentPage}} od {{totalPages}}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>

  <div class="filter-div">
    <div class="filter-title">Transaction type:</div>
    <select class="filter-dropdown" [(ngModel)]="filterValue">
      <option value="" disabled selected></option>
      <option value="pmt">Payment</option>
      <option value="dep">Deposit</option>
      <option value="fee">Fee</option>
    </select>
    <div class="filter-buttons">
      <button class="filter-button" (click)="applyFilter()">Filter Transactions</button>
      <button class="clear-button" (click)="clearFilters()">Clear Filters</button>
    </div>
  </div>
  

</div>
