header {
  position: fixed;
  background-color: #4dc6e3;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  top: 0;
  right: 0;
  left: 250px;
  z-index: 1000;
  height: 50px;
}

.left-section {
  font-size: 15px;
  font-family: proxima-nova, sans-serif;
}

.right-section {
  display: flex;
  align-items: center;
  padding-right: 40px;
}

.right-section img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.right-section .text {
  font-size: 13px;
  font-family: proxima-nova, sans-serif;
}

/* Media query za uređaje sa širinom ekrana manjom od 768px */
@media (max-width: 768px) {
  header {
    left: 200px;
    right: 0;
  }

  .left-section {
    font-size: 14px;
  }

  .right-section img {
    width: 35px;
    height: 35px;
  }

  .right-section .text {
    font-size: 12px;
  }
}

/* Media query za uređaje sa širinom ekrana manjom od 480px */
@media (max-width: 480px) {
  header {
    left: 100px;
    right: 0;
    height: auto;
  }

  .left-section {
    font-size: 7px; 
  }
  .right-section {
    padding-right: 0;
  }
  .right-section img {
    width: 20px;
    height: 20px;
  }

  .right-section .text {
    font-size: 7px;
  }
}