<div class="textboxeslist">
    <div class="textboxes">
        <a class="textbox active">
            <img src="assets/images/financial-overview2.png" alt="Financial Overview" class="icons">
            Financial Overview
        </a>
        <a class="textbox">
            <img src="assets/images/budget1.png" alt="Bugdet" class="icons">
            Bugdet
        </a>
        <a class="textbox">
            <img src="assets/images/saving-goals1.png" alt="Saving goals" class="icons">
            Saving goals
        </a>
        <a class="textbox">
            <img src="assets/images/self-care1.png" alt="Categorization rules" class="icons">
            Categorization rules
        </a>
    </div>
</div>
