<div class="textboxeslist">
    <div class="textboxes">
        <a class="textbox active">
            <img src="assets/images/financial-overview2.png" alt="Financial Overview" class="icons">
            Financial Overview
        </a>
        <a class="textbox">
            <img src="assets/images/budget1.png" alt="Bugdet" class="icons">
            Bugdet
        </a>
        <a class="textbox">
            <img src="assets/images/saving-goals1.png" alt="Saving goals" class="icons">
            Saving goals
        </a>
        <a class="textbox">
            <img src="assets/images/self-care1.png" alt="Categorization rules" class="icons">
            Categorization rules
        </a>
    </div>
    
    <div class="select-menu">
        <label for="select-dropdown">TRANSACTION KIND:</label>
        <div class="dropdown">
          <a id="select-dropdown" class="link dropdown-toggle" (click)="toggleDropdown()">
            {{ selectedOption }}
          </a>
          <div class="dropdown-content" [class.show]="isDropdownOpen">
            <a (click)="selectOption($event, 'Payement')">Payement</a>
            <a (click)="selectOption($event, 'Deposite')">Deposite</a>
            <a (click)="selectOption($event, 'Fee')">Fee</a>
          </div>
        </div>
    </div>
    
    <div class="filter">
        <button class="filter-transaction">Filter Transaction</button>
        <button class="clear" (click)="clearDropdown()">Clear Transaction</button>
    </div>
</div>
