.transaction-container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    border-bottom: 1px solid #ddd; 
    background-color: #fff;
  }
  
  .transaction-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    margin: 7px;
    margin-left: 30px;;
  }
  
  .transaction-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
    text-align: right;
    margin: 3px;
    margin-left: 10px;
    margin-right: 30px;
    justify-content: center;
  }
  
  .id {
    font-size: 9px;
    color: #4dc6e3; 
  }
  .direction {
    
      display: flex;
      align-items: center;
    }
  
  .direction-icon {
    width: 20px; /* Širina slike */
    height: 20px; /* Visina slike */
    margin-right: 5px; /* Razmak između slike i teksta */
  }
  .beneficiary-name{
    font-size: 17px;
    color: #4dc6e3; 
  }
  .date{
    font-size: 11px;
    color: #7e7373; 
  }
  .description{
    background-color: #4dc6e3;
    color: #fff;
    font-size: 11px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 5px;
    height: 25px; 
    display: flex; 
    align-items: center;
  }
  
  .amount {
    font-size: 20px;
    color: #4dc6e3; 
  }
  .kind {
    font-size: 14px;
    color: #7e7373; 
    text-transform: uppercase;
  }
  .description {
    background-color: #7e7373;
    color: white;
  }
  
  .description.fixed {
    /* stilovi za fiksno dugme */
    cursor: not-allowed;
    background-color: #4dc6e3; /* ili bilo koja boja za onemogućeno dugme */
  }

  .transaction-checkbox {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  