<div class="side-nav">
  <div class="nav-header">
    <img src="assets/images/bank-logo.webp" alt="Logo">
  </div>
  <div class="nav-icons">
    <a class="nav">
      <img src="assets/images/home.png" alt="Home" class="icon">
      HOME
    </a>
    <a class="nav">
      <img src="assets/images/account.png" alt="My Accounts" class="icon">
      MY ACCOUNTS
    </a>
    <a class="nav">
      <img src="assets/images/payments.png" alt="Payments" class="icon">
      PAYMENTS
    </a>
    <a class="nav">
      <img src="assets/images/credit_card.png" alt="Cards" class="icon">
      CARDS
    </a>
    <a class="nav">
      <img src="assets/images/currency-exchange.png" alt="ce" class="icon">
      CURRENCY EXCHANGE
    </a>
    <a class="nav">
      <img src="assets/images/product-catalogue.png" alt="pc" class="icon">
      PRODUCTS CATALOGUE
    </a>
    <a class="nav">
      <img src="assets/images/pfm.png" alt="pfm" class="icon">
      PFM
    </a>
    <a class="nav">
      <img src="assets/images/self-care.png" alt="self care" class="icon">
      SELF CARE
    </a>
    <a class="nav">
      <img src="assets/images/support.png" alt="support" class="icon">
      SUPPORT
    </a>
  </div>
</div>
