<div class="side-nav">
  <div class="nav-header">
    <img src="assets/images/bank-logo.webp" alt="Logo">
  </div>
  <div class="nav-icons">
    <a class="nav">
      <img src="assets/images/home1.png" alt="Home" class="icon">
      HOME
    </a>
    <a class="nav">
      <img src="assets/images/account1.png" alt="My Accounts" class="icon">
      MY ACCOUNTS
    </a>
    <a class="nav">
      <img src="assets/images/payments1.png" alt="Payments" class="icon">
      PAYMENTS
    </a>
    <a class="nav">
      <img src="assets/images/credit_card1.png" alt="Cards" class="icon">
      CARDS
    </a>
    <a class="nav">
      <img src="assets/images/currency-exchange1.png" alt="ce" class="icon">
      CURRENCY EXCHANGE
    </a>
    <a class="nav">
      <img src="assets/images/product-catalogue1.png" alt="pc" class="icon">
      PRODUCTS CATALOGUE
    </a>
    <a class="nav">
      <img src="assets/images/pfm2.png" alt="pfm" class="icon">
      PFM
    </a>
    <a class="nav">
      <img src="assets/images/self-care1.png" alt="self care" class="icon">
      SELF CARE
    </a>
    <a class="nav">
      <img src="assets/images/support1.png" alt="support" class="icon">
      SUPPORT
    </a>
  </div>
</div>
