.categorization-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 50px;
}

.categorization-box {
    width: 300px; /* Adjust width as needed */
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    position: relative; /* Add relative positioning for header positioning */
}

.categorization-header {
    background-color: #4dc6e3;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: absolute; /* Position the header absolutely */
    top: 0; /* Align to the top of the box */
    left: 0; /* Align to the left edge of the box */
    right: 0; /* Align to the right edge of the box */
    z-index: 1; /* Ensure header is on top of other content */
}

.categorization-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    margin-top: 40px; /* Adjust margin to avoid overlap with header */
}

.white-background-text {
    text-align: center;
    padding: 5px 0;
    width: 100%;
    color: #4dc6e3;
    font-size: 10px;
}

.dropdowns {
    margin-top: 10px;
}

.dropdowns label,
.dropdowns select,
.dropdowns input {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.categorization-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.categorization-footer button {
    width: 45%;
    padding: 5px 0;
    background-color: #4dc6e3;
    color: white;
    border: none;
    cursor: pointer;
}

.categorization-footer button.cancel {
    background-color: red; /* Set the cancel button to red */
}

button[type="button"] {
    margin-top: 10px;
    width: 100%;
    background-color: #4dc6e3;
    color: white;
    border: none;
    cursor: pointer;
}
.categorization-footer button:disabled {
    opacity: 0.6; /* Smanji vidljivost za onemogućena dugmad */
    cursor: not-allowed; /* Pokazivač za onemogućena dugmad */
  }
  .difference {
    margin-top: 5px;
    color: red; /* Ili druga boja za razliku */
    font-size: 12px;
  }