CSS Reset
/* Resetovanje osnovnih stilova za sve elemente */

/* Uklanjanje marginama i paddinga */
html, body {
    margin: 0;
    padding: 0;
    font-family: proxima-nova, sans-serif; 
    background-color: #edece3;
    overflow: auto;
    
  }
  body {
    padding-top: 50px; /* Visina zaglavlja */
    margin-left: 250px; /* Širina bočne navigacije */
}
  
  
  /* Postavljanje box-sizing za sve elemente */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Uklanjanje podrazumevanih stilova za listu */
  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* Uklanjanje podrazumevanih stilova za linkove */
  a {
    text-decoration: none; /* Ukloni podrazumevani donji okvir za linkove */
    color: inherit; /* Nasledi boju iz roditeljskog elementa */
  }
  
  /* Uklanjanje podrazumevanih stilova za tabele */
  table {
    border-collapse: collapse; /* Spajanje granica tabela */
    border-spacing: 0; /* Uklanjanje razmaka između ćelija */
  }
  
  /* Uklanjanje podrazumevanih stilova za forme */
  input,
  button,
  select,
  textarea {
    border: none;
    outline: none; /* Ukloni okvir kada je fokusiran */
    font-family: inherit; /* Nasledi font-family iz roditeljskog elementa */
  }
  
  
  