<div class="categorization-container">
    <div class="categorization-box">
      <div class="categorization-header">
        Choose chategory:
      </div>
      <div class="categorization-content">
        <div class="white-background-text">
          
        </div>
        <div class="dropdowns">
          <label for="category">Category:</label>
          <select id="category" name="category" [(ngModel)]="category">
            <option *ngFor="let category of categories">
              {{category.name}}
          </option>
          </select>
          <label for="subcategory">Subcategory:</label>
          <select id="subcategory" name="subcategory" [(ngModel)]="subcategory">
            <option *ngFor="let subcategory of subcategories">
              {{subcategory.name}}
          </option>
            <!-- Opcije za potkategorije -->
          </select>
        </div>
      </div>
      <div class="categorization-footer">
        <button type="button" (click)="backToMain()">Cancel</button>
        <button type="button" (click)="selectCategories()">Apply</button>
      </div>
    </div>
  </div>
  
