.categorization-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .categorization-box {
    width: 200px;
    height: 250px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .categorization-header {
    background-color: #4dc6e3;
    color: white;
    text-align: center;
    padding: 5px 0;
  }
  
  .categorization-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
  }
  
  .white-background-text {
    text-align: center;
    padding: 5px 0;
    width: 100%;
    color: #4dc6e3;
    font-size: 10;
  }
  
  .dropdowns {
    margin-top: 10px;
  }
  
  .dropdowns label,
  .dropdowns select {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
  
  .categorization-footer {
    display: flex;
    justify-content: space-between;
  }
  
  .categorization-footer button {
    width: 45%;
    padding: 5px 0;
    background-color: #4dc6e3;
  }
  